<div ng-controller="activosController as activoCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Activos Fijos</h2>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <form class="form-inline">
            <div>
                <select class="selectpicker" ng-model="activoCtrl.activo.columna" >
                    <option selected>Seleccione</option>
                    <option value="0" >Tipo</option>
                    <option value="1">Fecha de compra</option>
                    <option value="2">Serial</option>
                    <!--<option value="3">Todos</option>-->
                </select>
            </div>
            <div>
                <input type="text" ng-model="activoCtrl.activo.criterio" placeholder="Buscar">
            </div>
            <div>
                <button  title="Buscar" class="btn btn-info" ng-click="activoCtrl.onBuscarActivosFijosPorParametro(activoCtrl.activo.columna, activoCtrl.activo.criterio)">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed table-hover" >
                <thead>
                    <tr style="font-weight: bold">
                        <th class="text-center">#</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Nombre Activo</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Serial</th>
                        <th class="text-center">Serial Interno</th>
                        <th class="text-center">Peso</th>
                        <th class="text-center">Alto</th>
                        <th class="text-center">Largo</th>
                        <th class="text-center">Valor de Compra</th>
                        <th class="text-center">Fecha de Compra</th>
                        <th class="text-center">Fecha de Baja</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Color</th>
                        <th class="text-center" style="width:9%">Opciones</th>
                    </tr>
                    <tr ng-repeat="activo in activoCtrl.listaActivosFijos| filter:search as filtered"
                        ng-init="activoIndex = $index + 1">
                        <td> 
                            <div class="input-gro center-block">
                                <input class="form-control" disabled="true"  id="{{'activo' + activoIndex}}" value="{{activoIndex}}">
                            </div>
                        </td>
                        <td> 
                            <div class="input-group center-block">
                            </div>
                        </td>
                        <td> 
                            <div class="input-group center-block">
                                {{activo.nombre}}
                            </div>
                        </td>
                        <td> 
                            <div class="input-group center-block">
                                {{activo.descripcion}}
                            </div>
                        </td>
                        <td> 
                            <div class="input-group center-block">
                                {{activo.serial}}
                            </div>
                        </td>
                        <td> 
                            <div class="input-group center-block">
                                {{activo.serialInventario}}
                            </div>
                        </td>
                        <td> 
                            <div class="input-group center-block">
                                {{activo.peso}}
                            </div>
                        </td>
                        <td > 
                            <div class="input-group center-block">
                                {{activo.alto}}
                            </div>
                        </td>
                        <td > 
                            <div class="input-group center-block">
                                {{activo.largo}}
                            </div>
                        </td>
                        <td > 
                            <div class="input-group center-block">
                                {{activo.valorCompra}}
                            </div>
                        </td>
                        <td> 
                            <div class="input-group center-block">
                                {{activo.fechaCompra}}
                            </div>
                        </td>
                        <td > 
                            <div class="input-group center-block">
                                {{activo.fechaBaja}}
                            </div>
                        </td>
                        <td > 
                            <div class="input-group">
                                {{activo.estado}}
                            </div>
                        </td>
                        <td > 
                            <div class="input-group center-block">
                                {{activo.color}}
                            </div>
                        </td>
                        <td >
                            <div class="text-center center-block" >
                                <button  title="Editar" class="btn btn-info btn-tools-table">
                                    <i class="glyphicon glyphicon-erase"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

