<div ng-controller="activosController as activoCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Gestionar Activos Fijos</h2>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group ">
                <label for="nombre" class="control-label col-xs-3">Nombre</label>
                <div class="col-xs-9">
                    <input class="form-control" type="text" value="Artisanal kale" id="nombre">
                </div>
            </div>
            <div class="form-group">
                <label for="tipo" class="control-label col-xs-3">Tipo</label>
                <div class="col-xs-9">
                    <select class="selectpicker" ng-model="activoCtrl.activo.columna"  id="tipo">
                        <option selected>Seleccione</option>
                        <option value="INMUEBLE" >Bienes inmuebles</option>
                        <option value="MAQUINARIA">Maquinaria</option>
                        <option value="OFICINA">Material de oficina</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="serial" class="control-label col-xs-3">Serial</label>
                <div class="col-xs-9">
                    <input class="form-control" type="text" value="Artisanal kale" id="serial">
                </div>
            </div>
            <div class="form-group ">
                <label for="serialInventario" class="control-label col-xs-3">Serial Inventario</label>
                <div class="col-xs-9">
                    <input class="form-control" type="text" value="Artisanal kale" id="serialInventario">
                </div>
            </div>
            <div class="form-group">
                <label for="peso" class="control-label col-xs-3">Peso </label>
                <div class="input-group col-xs-9">
                    <span class="input-group-addon">0.00</span>
                    <input class="form-control" type="number" value="42" id="peso">
                </div>
            </div>
            <div class="form-group">
                <label for="altura" class="control-label col-xs-3">Altura</label>
                <div class="input-group  col-xs-9">
                    <span class="input-group-addon">0.00</span>
                    <input class="form-control" type="number" value="42" id="altura">
                </div>
            </div>
            <div class="form-group">
                <label for="largo" class="control-label col-xs-3">Largo</label>
                <div class="input-group  col-xs-9">
                    <span class="input-group-addon">0.00</span>
                    <input class="form-control" type="number" value="42" id="largo">
                </div>
            </div>
            <div class="form-group">
                <label for="valorcompra" class="control-label col-xs-3">Valor de Compra</label>
                <div class="input-group  col-xs-9 ">
                    <span class="input-group-addon">$</span>
                    <span class="input-group-addon">0.00</span>
                    <input class="form-control" type="number" value="42" id="valorcompra">
                </div>
            </div>

            <div class="form-group">
                <label for="fechacompra" class="control-label col-xs-3">Fecha  Compra</label>
                <div class="col-xs-9">
                    <input class="form-control" type="date" value="2011-08-19" id="fechacompra">
                </div>
            </div>
            <div class="form-group">
                <label for="fechabaja" class="control-label col-xs-3">Fecha Baja</label>
                <div class="col-xs-9">
                    <input class="form-control" type="date" value="2011-08-19" id="fechabaja">
                </div>
            </div>
            <div class="form-group">
                <label for="estado" class="control-label col-xs-3">Estado</label>
                <div class="col-xs-9">
                    <select class="selectpicker" ng-model="activoCtrl.activo.estado"  id="estado">
                        <option selected>Seleccione</option>
                        <option value="ACTIVO" >Activo</option>
                        <option value="DISPONIBLE">Disponible</option>
                        <option value="ASIGNADO">Asignado</option>
                        <option value="BAJA">Dado de baja</option>
                        <option value="REPARACION">En reparación</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="color" class="control-label col-xs-3">Color</label>
                <div class="col-xs-9">
                    <input class="form-control" type="color" value="#563d7c" id="color">
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion" class="control-label col-xs-3">Descripción</label>
                <div class="col-xs-9">
                    <textarea class="form-control" rows="3" id="descripcion"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                </div>
            </div>
        </form> 
    </div>
</div>
